/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}
.c{
    font-size: 60px;
}

.d{
    font-size: 20px;
}

h1, h2, h3 {
    color: #333;
}
/* Header Section */
header {
    background-color: #080808;
    color: white;
    padding: 50px 0;
    text-align: center;
}
header h1{
    font-size: 30px;

}
.a{
    font-size: 70px;
    font-weight: 100;
}
.b{
    font-size: 25px;

}
header p {
    margin: 20px 5px 5px;
    font-size: 10px;
}

/* About Section */
#about {
    padding: 20px;
    text-align: center;
    background-color: white;
}

#about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#about h2 {
    margin-top: 10px;
}

#about p {
    max-width: 600px;
    margin: 10px auto;

}

/* Skills Section */
#skills {

    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
}

/* Projects Section */
#projects {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.e{
    font-size: 35px;
}
.project h3 {
    margin: 10px 0 5px;
}

/* Resume Section */
#resume {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
}

#resume a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Contact Section */
#contact {
    padding: 20px;
    text-align: center;
    background-color: white;
}

#contact p {
    margin-bottom: 100px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
